@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;700&display=swap");
:root {
  --main-color: #fffff1;
  --dark-color: #282828;
  --primary-color: #2ea3f2;
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: var(--dark-color);
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.text-center {
  text-align: center;
}
header {
  z-index: 99;
  width: 100%;
  position: fixed;
  padding: 12px 16px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary-color);
  border: none;
  flex-wrap: wrap;
}
header .header-email ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
header .header-email li {
  margin-left: 16px;
}
header .header-email ul li i,
li,
.header-alamat {
  color: var(--main-color);
  font-size: 12px;
}

nav {
  top: 39px;
  z-index: 99;
  position: fixed;
  width: 100%;
  padding: 12px;
  min-height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.2);
  border: none;
}

nav .logo ul {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
nav .logo ul li {
  margin-left: 11px;
  align-self: center;
}
nav .logo img {
  width: 40px;
  height: 40px;
}
nav .logo ul li .logo-name {
  color: var(--dark-color);
  font-size: 16px;
  font-weight: bold;
}
nav .menu {
  display: flex;
  transition: ease-in-out 0.2s;
}
nav .hamburger {
  display: none;
}
nav .menu li {
  padding: 12px 16px;
}
nav .menu li a {
  color: var(--dark-color);
  font-size: 16px;
  font-weight: bold;
}
nav .menu li a span {
  padding: 12px 16px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--main-color);
  border: none;
}

.content {
  border: 1px solid black;
  height: 300vh;
}
.content-height {
  margin-top: 160px;
}
.banner {
  width: 90%;
  height: max-content;
  margin: 12px auto;
  margin-bottom: 20px;
  box-shadow: 10px 5px 5px 15px rgba(0, 0, 0, 0.05);
}
.banner .banner-header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.banner .banner-content {
  margin-left: 10px;
  padding: 12px 16px;
  box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 100%;
  /* background-color: var(--primary-color); */
  background: radial-gradient(circle at top left, #2ea3f2, #f4f4f4);
}
.banner .banner-content h1 {
  font-weight: bolder;
  text-align: center;
  color: greenyellow;
  margin-bottom: 20px;
  margin-top: 20px;
}
.banner .banner-content h3 {
  font-weight: bolder;
  text-align: center;
  color: greenyellow;
  margin-bottom: 20px;
  margin-top: 20px;
}
.banner .banner-content h4,
p {
  margin-left: 20px;
  font-weight: small;
  color: var(--dark-color);
  margin-top: 20px;
}
.banner-header img {
  width: 350px;
  height: 350px;
  box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
.information {
  background-color: #f0ffff;
  width: 90%;
  margin: auto;
  position: relative;
}
.header-information {
  position: absolute;
  padding: 12px 16px;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: yellow;
  top: -5px;
  font-weight: bold;
}
.content-opening {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1400px;
  margin: 125px auto;
  padding: 12px;
}
.kotak-foto {
  height: 300px;
  width: 300px;
  background-color: #f0f8ff;
  background-image: linear-gradient(
    to right top,
    #d16bbb,
    #b18be4,
    #87a8fb,
    #61c0ff,
    #5ad3f9,
    #5fdcf5,
    #6ce4f0,
    #7decea,
    #76f0ec,
    #6ff4ee,
    #67f7f0,
    #5ffbf1
  );
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.content-foto {
  position: relative;
  width: 30%;
}
.content-foto img {
  position: absolute;
  top: 10px;
  width: 380px;
  height: 250px;
}
.content-sambutan {
  width: 60%;
}
.content-sambutan h1 {
  margin-top: 20px;
  font-family: "Kalam", cursive;
  font-weight: 700;
  margin-bottom: 20px;
}
.content-sambutan h3 {
  font-family: "Kalam", cursive;
  font-weight: 700;
}
.content-sambutan p {
  font-family: "Kalam", cursive;
  font-weight: 300;
}
.wrapper-content {
  background-color: #f1f8fc;
  min-height: 600px;
}
.content-program {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1400px;
  margin: 125px auto;
  padding: 12px;
}
.card {
  height: 380px;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: #f1f8fc;
  border-radius: 20px;
  border: none;
}
.card:hover {
  background-color: #2f4f4f;
  box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
.card i {
  font-size: 70px;
  align-self: center;
  color: yellowgreen;
}
.card h3 {
  color: yellowgreen;
  text-transform: capitalize;
  margin-top: 30px;
  text-align: center;
}
.card p {
  margin-top: 30px;
  color: yellowgreen;
}
.content-video-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  min-height: 800px;
  border: 1px solid black;
  margin: 125px auto;
  padding: 12px;
}
.content-video-title h1 {
  margin: 25px auto;
  text-align: center;
  font-family: "Kalam", cursive;
}
.content-video-video {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}
.content-video-video .item-videos {
  box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
.content-foto-foto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.item-foto img {
  max-width: 250px;
  max-height: 350px;
  box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
.content-video-footer {
  margin-top: 35px;
  text-align: center;
}
.content-video-footer a {
  padding: 12px 16px;
  background-color: var(--primary-color);
  color: var(--main-color);
}
/* media 768px  tablet*/
@media screen and (max-width: 768px) {
  header {
    padding: 10px;
    flex-direction: column;
  }

  header .header-email ul li i,
  li,
  .header-alamat {
    color: var(--main-color);
    font-size: 10px;
    margin-top: -3px;
  }
  header .header-email {
    display: flex;
    margin-left: -30px;
  }
  header .header-email li {
    margin-left: 1px;
    font-size: 10px;
  }
  nav {
    top: 50px;
  }
  nav .menu {
    /* display: none; */
    position: absolute;
    right: 0;
    top: 85px;
    flex-direction: column;
    background-color: var(--primary-color);
    height: 100vh;
    width: 50%;
    transform: translateX(100%);
    transition: all 0.5s;
    z-index: -1;
  }
  nav .menu li {
    padding: 12px 16px;

    text-align: center;
    margin-top: 20px;
  }
  nav .menu li a {
    padding: 12px 16px;
    color: var(--dark-color);
  }
  nav .menu li a:hover {
    color: var(--main-color);
  }

  nav .hamburger {
    display: inline-block;
    font-size: 25px;
    transition: ease-in-out 0.25s;
    position: relative;
  }
  nav .hamburger input {
    position: absolute;
    width: 29px;
    height: 29px;
    opacity: 0;
    cursor: pointer;
  }
  nav .menu li a span {
    color: var(--dark-color);
    background-color: #fffff1;
    background-color: var(--primary-color);
    padding: 12px 40px;
  }
  nav .menu li a span:hover {
    color: var(--main-color);
  }
  nav .menu.slide {
    transform: translateX(0);
  }
  .banner .banner-header {
    flex-direction: column;
  }
  .banner-header img {
    align-self: center;
    box-shadow: 10px 5px 5px 0px rgba(0, 0, 0, 0.2);
  }
  .content-opening {
    flex-direction: column;
  }
  .content-foto {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .content-sambutan {
    width: 100%;
  }
  .content-program {
    flex-wrap: wrap;
  }
  .card {
    justify-self: center;
    margin: 12px auto;
  }
  .content-video-video {
    flex-direction: column;
  }
  .item-videos {
    align-self: center;
  }
  .content-foto-foto {
    flex-direction: column;
  }
  .item-foto {
    align-self: center;
  }
}

/* media 576 mobile */
@media screen and (max-width: 320px) {
  nav {
    top: 68px;
  }
  nav .menu {
    display: none;
  }
  header .header-email ul li i,
  li,
  .header-alamat {
    color: var(--main-color);
    font-size: 9px;
  }
  nav .menu {
    /* display: none; */
    position: absolute;
    right: 0;
    top: 145px;
    flex-direction: column;
    background-color: var(--primary-color);
    height: 100vh;
    width: 50%;
    transform: translateX(100%);
    transition: all 0.5s;
  }
  nav .menu li {
    padding: 12px 16px;
    text-align: center;
    margin-top: 20px;
  }
  nav .menu li a span {
    color: white;
    background-color: #fffff1;
    background-color: var(--primary-color);
    border: 1px solid black;
    margin-left: 20px;
  }
  nav .menu li a {
    padding: 10px;
    color: var(--dark-color);
    font-size: 12px;
  }
  nav .menu li a:hover {
    color: var(--main-color);
  }
  nav .hamburger {
    font-size: 20px;
  }
  nav .hamburger input {
    position: absolute;
    width: 19px;
    height: 19px;
  }
  nav .menu.slide {
    transform: translateX(0);
  }
}
